.container {
    padding: 20px;

    h3{
        font-size: 1.5rem;
        color: crimson;
        font-weight: bold;
        text-align: center;
    }
}

.formbox {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 10px;
        margin-bottom: 3px;
        padding-left: 10px;
    }

    input,
    textarea {
        padding: 5px 10px;
        border-radius: 5px;
        white-space: pre-wrap;

        &:focus {
            border: dodgerblue 2px solid;
        }
    }

    input[type="submit"] {
        margin: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
        background-color: dodgerblue;
        border-radius: 20px;
        &:hover{
            background-color: rgb(27, 123, 219);
        }
        &:active{
            background-color: dodgerblue;
        }
    }
}


.previewarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentarea {
    width: 100%;
    max-width: 700px;
    padding: 30px 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: pre-wrap;
    padding: 20px;
    border: 1px #666 solid;
    border-radius: 10px;
    margin-top: 10px;
}
