.mainarea {
    padding-top: 20px;

    h2 {
        text-align: center;
    }

    >p {
        font-style: italic;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 10px;
    }
}