.topbox {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 350px 200px;
    grid-template-areas:
        "a b"
        "a c";

    .top1 {
        grid-area: a;
    }

    .top2 {
        grid-area: b;
    }

    .top3 {
        grid-area: c;
    }
}

.belowbox {
    display: flex;
    flex-direction: column;
}


@media (max-width: 700px) {
    .topbox {
        display: flex;
        flex-direction: column;
    }
}